*{
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    background-color: #962927;
    padding-left: 20px;
    color: aliceblue;
    justify-content: space-between;
    z-index: 0;
    position: fixed;
    width: 100%;
    box-shadow:0px 2px 20px rgba(0, 0, 0, 0.527);
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar u{
    display: flex;
    text-decoration: none;

}

.navbar a {
    text-decoration:none;
    color: aliceblue;
}

.navbar li{
    padding: 20px;
    list-style: none;
}
.navbar li:hover{
    background-color: #faf9f781;
}

#home{
    font-weight: 700;
}

button{
    font-weight: 500;
    color: aliceblue;
    background-color: rgb(241, 177, 0);
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-right: 10px; /* Espaço entre os botões */
    cursor: pointer;
}
.cadastro{
    margin-right: 80px;
}
.login{
    margin-right: 40px;
}

.button-float{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 15px;
    margin-left: 92%;
    margin-top: 35%;
    border-radius: 50%;
    background-color: rgb(0, 123, 255);
    position: fixed;
    box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.227);
}

.button-float p{
    font-weight: 700;
    color: aliceblue;
}

.button-float:hover{
    background-color: aliceblue;
    color: black;

}






.conteudo{   
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 690px;
    justify-content: space-between;
    padding-top: 35px;
}

.imagem-tripulacao{
    background-color: rgb(112, 198, 255);
    padding-right: 80px;
    border-radius:10px 0 40% 0 ;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}

.descricao p{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    line-height: 30px;
    width: 600px;
}






.como-surgiu{
    display: flex;
    color: aliceblue;
    background-color: #962827;
}

.como-surgiu .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px;
    width: 700px;  
}

.como-surgiu h1{
    border-bottom: rgb(255, 0, 0) solid  5px  ;
    padding-bottom: 10px;
    width: 400px;
    margin: 0; 
    font-size: 45px;
}

.como-surgiu p{
    margin-top: 40px;
    font-size: 25px;
    line-height: 35px;
}




.mundo{
    background: url(../assets/onda.svg);
    height: 800px;
    padding: 90px;
    background-repeat: no-repeat;

}

.mundo h1{
    margin: 0;
    padding-top: 200px;
    border-bottom: rgb(255, 200, 0) solid  5px  ;
    padding-bottom: 10px;
    width: 400px;
    margin: 0; 
    font-size: 45px;

}