body{
    margin: 0;
    font-family: Arial, Helvetica;
}
.quiz-personalidade{
    background:linear-gradient(rgba(0, 0, 0, 0.736)) ,url(../assets/manga.jpg) no-repeat;
    background: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#btnIniciarQuiz{
    background-color: rgb(255, 194, 28);
    border: none;
    color: white;
    width: 250px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    height: 80px;
    cursor: pointer;
    transition: 0,8s;
    
}

#jogo{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.492);
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

h1{
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    width: 380px;
    font-weight: 800;
}


/*dentro do jogo*/
.quiz{
    background-color: rgb(16, 16, 75);
    padding: 15px;
    border-radius: 5px;
}

P{
    color: white;
}

#pergunta{
    margin-bottom: 28px;
    margin-top: 30px;
    color: white;
}

.bntAlternativa{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    border: solid rgb(115, 115, 115) 1px;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

.bntAlternativa:hover{
    background-color: blue;
    color: white;
    border: none;
}

.botoes{
    display: flex;
    justify-content: space-between;
}

#btVoltar{
    background-color: blue;
    color: white;
    border: none;
    width: 100px;
    border-radius:5px ;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
}

#btFinalizar{
    background-color: rgb(255, 191, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 100px;
    font-weight: 500;
    border-radius:5px ;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
}

#btFinalizar:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

#resultado {
    background: linear-gradient(#142fa5, #040a83, #1725c4);
    padding-bottom: 40px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    border-radius: 15px;
    width: 400px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

#resultado h1 {
    padding-left: 2%;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #ffffff;
}

#resultado img {
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 5px 26px rgba(0, 0, 0, 0.5);
  width: 62%;
  margin-left: auto;
}

#resultado p {
  font-size: 18px;
  line-height: 1.6;
  width: 410px;
  margin-bottom: 30px;
}

#voltar_dash {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 700px;
  cursor: pointer;
  transition: 0.4s ease;
}

#voltar_dash:hover {
  background-color: #e6b800;
}
